# ignore auto-save-list, backups and cache directorys
auto-save-list/
backups/
cache/
newsticker/
session*
tramp
.places
url/cookies
elpa/
init/adh_abbrev.el

/image-dired/.image-dired_db
/image-dired/.image-dired_temp
/image-dired/constaints_b720741e45ba4add71ba96e1282c3673.thumb.jpg
/image-dired/coursework_function_b720741e45ba4add71ba96e1282c3673.thumb.jpg
/image-dired/gradients_b720741e45ba4add71ba96e1282c3673.thumb.jpg
/image-dired/local_vs_global_min_b720741e45ba4add71ba96e1282c3673.thumb.jpg
/image-dired/simple_min_b720741e45ba4add71ba96e1282c3673.thumb.jpg
/image-dired/taylor_series_b720741e45ba4add71ba96e1282c3673.thumb.jpg
/elpa/archives/gnu/archive-contents
/elpa/archives/marmalade/archive-contents
/elpa/archives/melpa/archive-contents
/.org-id-locations
/elpa/auctex-11.87.2/auctex-autoloads.el
/elpa/auctex-11.87.2/auctex-pkg.elc
/elpa/auctex-11.87.2/bib-cite.elc
/elpa/auctex-11.87.2/font-latex.elc
/elpa/auctex-11.87.2/latex.elc
/elpa/auctex-11.87.2/multi-prompt.elc
/elpa/auctex-11.87.2/plain-tex.elc
/elpa/auctex-11.87.2/preview.elc
/elpa/auctex-11.87.2/prv-emacs.elc
/elpa/auctex-11.87.2/prv-xemacs.elc
