# ignore auto-save-list, backups and cache directorys
auto-save-list/
backups/
cache/
newsticker/
session*
tramp
.places
url/cookies
elpa/
plugins/
init/adh_abbrev.el
.org-id-locations
projectile-bookmarks.eld
.cask/

image-dired/

*~
